.swiper-pagination-bullet {
  background: var(--foreground);
  opacity: 0.2;
}

.swiper-pagination-bullet-active {
  background: var(--primary);
  opacity: 1;
}

.swiper-vertical > .swiper-pagination-bullets {
  right: 10px;
}

